<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajout d'un article</title>
</head>
<body>
    {{ form_start (form) }} <!--la balise ouvrante du formulaire-->
    {{ form_widget (form) }} <!--Genere le contenu-->
    <button type="submit">Ajouter </button>
    {{ form_end (form) }}   <!--Balise fermante-->
</body>
</html>